html,body{
    padding: 0;
    margin: 0;
    background-color: transparent;
}
.header{
    display: block;
    padding: 5px 10px 5px 10px;
    height: 30px;
    background-color: yellow;
}
.header-title{
    display: inline-block;
    padding-right: 50px;
}
.header-title h2{
    display: inline;
}
.header-links{
    display: inline-block;
}
.header-links-link{
    display: inline-block;
    margin-right: 20px;
}
.header-profile{
    display: inline-block;
    float: right;
    vertical-align: middle;
}
.content{

}