html{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
body {
	padding: 0;
	margin: 0 0 0 0;
	background-color: #e5e5e5;
	color : #808282;
}
.app-container{
	display: block;
	padding: 20px 0 0 0;
	margin: 0 0 0 0;
	background-color: #e5e5e5;
}
.action-container{
	background-color: transparent;
	height: 30px;
	margin-left: 50px;
	margin-bottom: 20px;
	display: inline-table;
}
.action-button-container{
	background-color: #f6f6f7;
	border-radius: 3px;
	display: inline-table;
}
.action-button-container :hover{
	cursor: pointer;
	border-radius: 3px;	
	background-color: white;
}
.action-button{
	display: inline-table;
	padding: 4px 10px 4px 10px;
}
.action-button img{
	display: table-cell;
	width: 20px;
	height: 20px;
}
.action-button h2{
	display: table-cell;
	font-size: 17px;
	vertical-align: top;
	color: black;
}
.search-container{
	display: inline-table;
	border-radius: 3px;
	background-color: #f6f6f7;
	margin-left: 50px;	
}
.search-container:hover{
	background-color: white;
}
.search-input{
	padding: 4px 10px 0px 10px;
	display: table;
	height: 10px;
	width: 50px;
	background-color: transparent;
}
.search-input-img{
	display: table-cell;	
}
.search-input-img img{
	width: 13px;
    height: 13px;
    padding-bottom: 3px;
}
.search-input input[type="text"]{
	display: table-cell;	
	border: none;
	background-color: transparent;
	vertical-align: super;
	padding-top: 2px;
    padding-left: 10px;
	margin: 0;
}
.search-input input[type="text"]:focus{
	outline: none;
}
.list-container{
	
}
.list{
	background-color: blue;
	margin-left: 50px;
	margin-bottom: 50px;
	display: inline-table;
	min-width: 300px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}
.list-remove-button{
	position: absolute;
	margin: -10px 0 0 -10px;
	height: 20px;
	width: 20px;
	border-radius: 10px;
	opacity: 1;
	background-color: #f6f6f7;
}
.list-remove-button:hover{
	cursor: pointer;
	background-color: white;
	width: 22px;
	height: 22px;
	margin: -11px 0 0 -11px;	
}
.list-header{
	background-color: #f6f6f7;
	height: 40px;
}
.list-header h1{
	margin: 0 0 20px 0;
	min-width: 150px;
	width: 150px;
	display: inline-block;
}
.color-picker{
	display: inline-block;
	float: right;
	height: inherit;
}
.color-picker-ul{
	display: block;
	margin: 0;
	padding: 0;
	height: inherit;
	margin: 10px;
}
.color-picker-ul li{
	height: 20px;
	width: 20px;
	border-radius: 10px;
	margin-left: 10px;
	display: inline-block;
}
.color-picker-ul li:hover{
	cursor: pointer;
}
.item-container{
	padding-top: 20px;
}
.item{
	padding: 10px;
}
.item.default input[type=checkbox]{
	display: none;
}
.item input[type = text]{
	width: 230px;
	background-color: transparent;
	border:none;
	font-size: 15px;
	border-bottom: 1px solid transparent;	
}
.item input[type = text]:focus{
	outline: none;
	border-bottom: 1px solid black;
}
.checked input[type = text]{
	text-decoration: line-through;
    font-style: italic;
}
/*.item input[type=checkbox]{
	-webkit-appearance: none;
	background-color: white;
	border: 1px solid #000000;
	padding: 15px;
	display: inline-block;
	position: relative;
	outline: none;
}
.item input[type=checkbox]:checked{
	content: 'x';
	background-color: green;
}*/